body {
  font-family: sans-serif;
  /* padding-bottom: -100px; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  margin-left: 1em;
}

.footer {
  position: absolute;
  margin-top: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 5px 20px
}

.footer-grouping a {
  justify-content: center;
}

.navbar {
  margin-bottom: 1em;
}

.card {
  margin-bottom: 2em;
}

.adminBtn {
    margin-top: 1em;
    margin-right: 1em;
}
